flask==3.0.0
flask-cors==4.0.0
python-dotenv==1.2.1
werkzeug==3.0.0
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-text-splitters
langchain-qdrant
google-generativeai
qdrant-client
pypdf
numpy
requests
